.col-sm {
    text-align: center;
    background: #4a4e69;
}

.body {
    background: #22223b;
}

.borde {
    border: 3px solid black;
    z-index: 1;
}

.tituloprincipal {
    width: 100%;
    height: 853px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.tituloprincipal h2 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 6px 6px 6px grey;
}

#l1 {
    position: absolute;
    top: -100px;
    left: 15vh;
    animation-name: mov1;
    animation-duration: 3s;
    animation-iteration-count: inherit;
}

#l1 {
    top: 20vh;
    left: 15vh;
    z-index: 2;
}

@keyframes mov1 {
    from {
        left: 15vh;
        top: -100px;
    }
    to {
        left: 15vh;
        top: 20vh;
    }
}

#l2 {
    position: absolute;
    top: 1000px;
    left: 22vh;
    animation-name: mov2;
    animation-duration: 3s;
    animation-iteration-count: inherit;
}

#l2 {
    top: 20vh;
    left: 22vh;
    z-index: 2;
}

@keyframes mov2 {
    from {
        left: 22vh;
        top: 1000px;
    }
    to {
        left: 22vh;
        top: 20vh;
    }
}

#l3 {
    position: absolute;
    top: 20vh;
    left: 1500px;
    animation-name: mov3;
    animation-duration: 3s;
    animation-iteration-count: inherit;
}

#l3 {
    top: 20vh;
    left: 32vh;
    z-index: 2;
}

@keyframes mov3 {
    from {
        left: 1500px;
        top: 20vh;
    }
    to {
        left: 32vh;
        top: 20vh;
    }
}

