section {
    height: 80vh;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

p {
    text-align: center;
}

footer {
    height: 20vh;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.container {
    padding: 3em;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

footer a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: wheat;
    padding: 1vh;
}

section a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #b38194;
}

body {
    background-color: #b38194;
}

section {
    background-color: #0fff95;
    border-radius: 90px;
}

footer {
    background-color: #06ba63;
    border-radius: 90px;
}

section a {
    border-radius: 90px;
}

footer a {
    border-radius: 90px;
}

#logos {
    text-align: center;
    padding-top: 25px;
}

a:hover {
    cursor: pointer;
    background-color: #103900;
    opacity: 0.7;
}
