section {
    height: 80vh;
    background-color: aqua;
    overflow: hidden;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
}

p {
    text-align: center;
}

footer {
    height: 20vh;
    background-color: darkmagenta;
    overflow: hidden;
    text-align: center;
}

.container {
    padding: 2em;
}


body, html{
    font-family: ;
    font-size: calc(13px+1vw);
}

h1{
    font-weight: 700;
    font-size: 2rem;
}

h2{
    font-weight: 700;
    font-size: 2rem;
}

p{
    font-weight: 400;
}

footer a{
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 1vh;
    
}

section a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}



