section {
    height: 85vh;
    overflow: hidden;
    text-align: center;
    background: #1c1d26;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h1 img{
    width: 80px;
    height: 80px;
}

p {
    text-align: center;
}

footer {
    height: 15vh;
    overflow: hidden;
    text-align: center;
}

.container {
    padding: 3em;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

html {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

footer a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #12130f;
    padding: 1vh;
}

section a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #12130f;
}

body {
    background-color: #8f8073;
}

section {
    background-color: #8fcb9b;
    border-radius: 90px;
}

footer {
    background-color: #5b9279;
    border-radius: 90px;
}

h2 a {
    border-radius: 90px;
    padding-right: 1em;
    padding-left: 1em;
}

footer a {
    border-radius: 90px;
    padding: 1em;
}

#logos {
    text-align: center;
    padding-top: 25px;
}

#logos img {
    width: 80px;
    height: 80px;
}

a:hover {
    cursor: pointer;
    background-color: #eae6e5;
    opacity: 0.7;
}
