section {
    height: 90vh;
    overflow: hidden;
    text-align: center;
    background: #1c1d26;
    padding-top: 80px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h1 img{
    width: 80px;
    height: 80px;
}

p {
    text-align: center;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

section a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #12130f;
}

body {
    background-color: #8f8073;
}

section {
    background-color: #8fcb9b;
    border-radius: 90px;
    margin-top: 12px;
}

.container3 {
    background-color: #8fcbc1;
    border-radius: 90px;
    height: 90vh;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
    margin-top: 12px;
}

h2 a {
    border-radius: 90px;
    padding-right: 1em;
    padding-left: 1em;
}

.logos {
    width: 70px;
    height: 70px;
}

a:hover {
    cursor: pointer;
    background-color: #eae6e5;
    opacity: 0.7;
}

.gris {
    background-color: grey;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.gris:hover {
    background-color: palevioletred;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sizes {
    height: 25px;
    width: 25px;
}

.whiste {
    background-color: white;
}

.big1 {
    height: 13vh;
    text-align: center;
}

.big2 {
    height: 75vh;
    overflow: hidden;
    text-align: center;
}

.big3 {
    height: 12vh;
    text-align: center;
    padding-top: 25px;
}

.big1 img{
    width: 50px;
    height: 50px;
}

.big7 img {
    width: 100px;
    height: 50px;
}

.big9 {
    margin-top: 40px;
    width: 50px;
    height: 50px;
}

.nine {
    height: 160px;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 15px;
}

body {
    background-color: #f1e3f3;
}

#uno {
    background-color: #62bfed;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#dos {
    background-color: #8fb8ed;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#tres {
    background-color: #c2bbf0;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.big2 a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color:  #f1e3f3;
    padding: 2vh;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.big2 a:hover {
    cursor: pointer;
    background-color: #3590f3;
    opacity: 0.7;
}

.big3 a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #12130f;
    padding: 2vh;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

#a22 a:hover {
    cursor: pointer;
    background-color: #d98324;
    
}

#a23 a:hover {
    cursor: pointer;
    background-color: #a40606;
    
}
#a24 a:hover {
    cursor: pointer;
    background-color: #5a0002;
    color: #f1e3f3;
}
#a21 a:hover {
    cursor: pointer;
    background-color: #d7cf07;
    
}
#a20 a:hover {
    cursor: pointer;
    background-color: #230007;
    color: #f1e3f3;
}

.boton {
    height: 150px;
    width: 150px;
    background-color: rgb(235, 152, 45);
    border-radius: 81px;
}

#boton {
    position: absolute;
    background-image: url(../images/Brackets_Icon.svg.png);
    animation-name: bol;
    animation-duration: 30s;
    animation-iteration-count:cubic-bezier(.12, .56, .47, .28);
    animation-iteration-count: infinite;
}

@keyframes bol {
    0% {
        left: 0;
        top: 0;
    }
    10% {
        left: 33%;
        top: 0;
    }
    20% {
        left: 66%;
        top: 0;
    }
   30% {
       left: 88%;
       top: 0;
       background-color: red;
    }
    40% {
         top: 40%;
        left: 88%;
        border-radius: 0;
         background-color: blue;
    }
     50% {
         top: 80%;
         left: 88%;
         background-color: rgb(41, 41, 78);
    }
    60% {
        top: 80%;
        left: 66%;
    }
    70% {
        top: 80%;
        left: 33%;
        background-color: rgb(188, 55, 221);
   }
   80% {
    top: 80%;
    left: 0;
    background-color: rgb(75, 238, 189);
    }
    90% {
        top:40%;
        left: 0;
    }
    100% {
        left: 0;
        top: 0;
         background-color: yellow;
    }
}

