section {
    height: 90vh;
    overflow: hidden;
    text-align: center;
    background: #1c1d26;
    padding-top: 80px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h1 img{
    width: 80px;
    height: 80px;
}

p {
    text-align: center;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

section a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #12130f;
}

body {
    background-color: #8f8073;
}

section {
    background-color: #8fcb9b;
    border-radius: 90px;
    margin-top: 12px;
}

.container3 {
    background-color: #8fcbc1;
    border-radius: 90px;
    height: 90vh;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
    margin-top: 12px;
}

h2 a {
    border-radius: 90px;
    padding-right: 1em;
    padding-left: 1em;
}

.logos {
    width: 70px;
    height: 70px;
}

a:hover {
    cursor: pointer;
    background-color: #eae6e5;
    opacity: 0.7;
}

.gris {
    background-color: grey;
}

.gris:hover {
    background-color: palevioletred;
}

.sizes {
    height: 25px;
    width: 25px;
}

.whiste {
    background-color: white;
}

.big1 {
    height: 13vh;
    text-align: center;
}

.big2 {
    height: 75vh;
    overflow: hidden;
    text-align: center;
}

.big3 {
    height: 12vh;
    text-align: center;
    padding-top: 25px;
}

.big1 img{
    width: 50px;
    height: 50px;
}

.nine {
    height: 160px;
}

body,
html {
    font-family: 'Lemonada', cursive;
    font-size: calc(13px+1vw);
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 15px;
}

body {
    background-color: #f1e3f3;
}

#uno {
    background-color: #62bfed;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#dos {
    background-color: #8fb8ed;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#tres {
    background-color: #c2bbf0;
    padding-top: 22px;
    padding-bottom: 22px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.big2 a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color:  #f1e3f3;
    padding: 2vh;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.big2 a:hover {
    cursor: pointer;
    background-color: #3590f3;
    opacity: 0.7;
}

.big3 a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #12130f;
    padding: 2vh;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

#a22 a:hover {
    cursor: pointer;
    background-color: #d98324;
    
}

#a23 a:hover {
    cursor: pointer;
    background-color: #a40606;
    
}
#a24 a:hover {
    cursor: pointer;
    background-color: #5a0002;
    color: #f1e3f3;
}
#a21 a:hover {
    cursor: pointer;
    background-color: #d7cf07;
    
}
#a20 a:hover {
    cursor: pointer;
    background-color: #230007;
    color: #f1e3f3;
}
